body{
    text-align: center;
}

.wrong_color{
    color:white;
    text-align:center;
}

#outer{
    width:500px;
    margin:0 auto;
}

#form{
    text-align: center;
}

/*#here*/
.logo{
    width: 20%;
    margin-top: 2%;
    margin-bottom:2%;
}